/*
Author: Joe Marcotte
Date: 8/8/2022
Title: Nfl Game Data
*/

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;500;600&display=swap");

* {
  font-family: "Karla", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

/* 
Home Page style
*/

.dropdown {
  margin: 1rem;
  width: 160px;
  padding: 0.2rem 2rem 0.2rem 0.2rem;
  font-size: 15px;
  border: 2px solid rgb(26, 25, 25);
  height: 30px;
  background: url(https://tinyurl.com/22s26jw9) 100% / 15% no-repeat #ccc;
  cursor: pointer;
}

.btn {
  height: 2rem;
  width: 10rem;
  font-size: 1.4rem;
  border-radius: 0.3rem;
  border: none;
  background-color: #a4071d;
  color: white;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0.2rem 0.2rem rgb(66, 61, 211);
  height: 2.5rem;
}

.submit-btn {
  margin: 0 auto;
  justify-content: center;
}
.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
.logo {
  width: 25rem;
  border: none;
}

.logo-container {
  position: relative;
  text-align: center;
  color: rgb(255, 234, 7);
}

.title {
  position: absolute;
  bottom: 0;
  left: 5.4rem;
  text-shadow: 3px 3px #a4071d;
}

/* same for both components rendered */
.main-container {
  width: 25rem;
  margin: 0 auto;
  background-color: #959595;
  margin-top: 4rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* 
 For TeamData component
*/

th {
  text-align: left;
}

.table {
  width: 100%;
}

.text-center {
  text-align: center;
}

.winner {
  background-color: #afcba3;
}

.loser {
  background-color: #c7a2ac;
}

.reg-season {
  background-color: black;
  color: white;
}

thead {
  background-color: white;
}
th {
  border: none;
}

.back-btn {
  height: 2rem;
  width: 100%;
  margin: 0 auto;
  font-size: 1.4rem;
  border-radius: 0.3rem;
  border: none;
  background-color: #a4071d;
  color: white;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
}
.back-btn:hover {
  height: 3rem;
}
